body {
    margin: auto;
    background: url(heroImage.jpg) no-repeat center center fixed;
    background-size: auto;
}

.container {
    margin-top: 80px;
    text-align: center;
    color: white;
}

form {
    margin: 20px;
}

input, button {
    width: 50%;
    color: white;
    background-color: rgba(119, 119, 119, 0.4);
    border: none;
    border-radius: 10px;
    outline: none;
    margin: 10px;
    padding: 15px;
}

button {
    margin-top: 10px;
}

.container .box {
    background-color: white;
}